@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="weui_msg">
    <div class="weui_icon_area"><i class="weui_icon_success weui_icon_msg"></i></div>
    <div class="weui_text_area">
        <h2 class="weui_msg_title">预约已提交</h2>
        <p class="weui_msg_desc">已成功提交预订，待系统确认</p>
    </div>
    <div class="weui_opr_area">
        <p class="weui_btn_area">
            <a href="@Url.Action("MyAppoint")" class="weui_btn weui_btn_primary">返回我的列表</a>
        </p>
    </div>
</div>
